*{
    box-sizing: border-box;
    
}

body{
    background: linear-gradient(to right, rgb(255, 153, 102),rgb(255, 94, 98) );
    background-size: cover;
    background-repeat: no-repeat;
    height: 2000px;
    color: black;
    font-family: 'Noto Serif', serif;
}

div{
    width: 55%;
    margin-left: 25%;
    margin-top: 8%;

}

h2{
    text-align: center;
    margin-top: 5%;
    font-size: 1.8em;
}

h1, h3{
    font-size: 1.6em;
    text-align: center;
    padding-top: 5%;
    margin-top: 5%;
    background: rgba(255, 255, 255, 0.705);
    height:150px;

}

