* {
    box-sizing: border-box;
}

html {
    font-size: 62.5;
    color: white;
    background-color: black;
    text-align: center;
}

/* Clearfix Hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.results {
    font-size: 2rem;
}